langchain
langchain-community
langchain-mistralai
langchain-core
langchain-experimental
langchain-cli
langserve[all]
langchain-openai
langchain-anthropic
langchain-google-genai
langgraph
langsmith
anthropic
openai
google-generativeai
pillow
python-dotenv
google-search-results
fastapi
tavily-python
grandalf
xai-sdk
pypdf
tiktoken
chromadb
elasticsearch
duckduckgo-search
streamlit
streamlit-chat
loguru
youtube-transcript-api
plotly
boto3
sqlalchemy
uvicorn
faiss-cpu
pdfminer
forex-python
psycopg2-binary
pytesseract
pillow
pillow_heif
PyYAML
jsonschema
parsimonious
torchaudio
unstructured
alembic
google-cloud-core
google-cloud-vision
pymysql
python-multipart
pydantic
pydantic-settings
